n8n/abionAgent/Anion ultra.json
{
  "name": "Anion ultra",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Marktposition Stelle Konkurrenz'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1312
      ],
      "id": "0fcaefce-97ee-4d61-aa68-e194fdbc0661",
      "name": "6-Marktposition Stelle Konkurrenz1",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Cost For Vacancy Berechnung'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1088
      ],
      "id": "2be8c08c-e905-4a1b-830d-8d97df10ec2b",
      "name": "5-Cost For Vacancy Berechnung",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Massnahmen Kurz Mittel Lang'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1552
      ],
      "id": "a6330418-e4e4-4aad-bfa3-4aa51069cad0",
      "name": "7-Massnahmen Kurz Mittel Lang",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Stellenanzeige Analyse'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "fa56a3db-f562-4679-93a0-751283cf8872",
      "name": "1-Stellenanzeige Analyse",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Website Aussenwirkung'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "f88982ed-5d01-473f-b26e-c659fbaf36af",
      "name": "2-Website Aussenwirkung",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Jobboersen Verbreitung'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "368272d7-a98c-462c-ac93-d3aab405e12b",
      "name": "3-Jobboersen Verbreitung",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ JSON.stringify($json.body.user_prompts) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.body.system_prompts['Bewertungen Analyse'] }}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        864
      ],
      "id": "ab68bc58-0291-48bd-997f-8e7489643aa9",
      "name": "4-Bewertungen Analyse",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"1-Stellenanzeige Analyse\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        192
      ],
      "id": "746ab310-c56d-4177-b94d-583caa9349a4",
      "name": "Make Json1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"2-Website Aussenwirkung\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        416
      ],
      "id": "896cbbb6-1a0b-4184-8f7a-f29b65c2a417",
      "name": "Make Json2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"3-Jobboersen Verbreitung\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        640
      ],
      "id": "ae8fb3e8-a830-4c87-adde-30badb02d5e6",
      "name": "Make Json3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"4-Bewertungen Analyse\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        864
      ],
      "id": "dc34cfa4-d72f-4c76-8e1f-bf608ffaf98a",
      "name": "Make Json4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"5-Cost For Vacancy Berechnung\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1088
      ],
      "id": "00db0bd4-675a-47c1-8ea8-a765b3662379",
      "name": "Make Json5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"6-Marktposition Stelle Konkurrenz\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1312
      ],
      "id": "cc7d15d1-a3e1-4edf-b8a0-c9fea5870508",
      "name": "Make Json6"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"Inhalt\" :{{ $json.candidates[0].content.parts[0].text }},\n  \"FileName\": \"7-Massnahmen Kurz Mittel Lang\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1552
      ],
      "id": "05bbd5f2-c779-4089-83d9-e40a725012cf",
      "name": "Make Json7"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.FileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        128
      ],
      "id": "205bf0d7-bbd1-4706-b67b-1188199f1ddf",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/Abion/{{$binary.data.fileName}}.{{$binary.data.fileExtension}}",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1648,
        128
      ],
      "id": "b846326d-5df2-401e-bfab-3d26a1c58aa9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=1. Stellenanzeige (Text):\n{{ $json.Bewerbung }}\n\n2. Website des Unternehmens (Link oder Text):\n{{ $json.Bewerbung }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "systemMessage": "Du bist Senior-Berater bei der Abion GmbH, einer auf Recruiting, Employer Branding und HR-Transformation spezialisierten Beratungsagentur für den deutschen Mittelstand.\n\nIch gebe dir im Folgenden zwei Eingaben:\n1. Eine Stellenanzeige (Text)\n2. Die Website des Unternehmens (Link oder Text)\n\nAnalysiere beides im Detail und liefere mir eine strukturierte, tiefgehende Bewertung anhand der folgenden Punkte:\n\n1. Erster Eindruck & Außenwirkung\n\nBeurteile die Stellenanzeige und die Website im Hinblick auf:\n\nWirkung auf potenzielle Bewerber (Ton, Stil, Professionalität, Modernität)\n\nPassung der Sprache zur Zielgruppe (z. B. Fachkräfte, Azubis, Akademiker, Quereinsteiger)\n\nEmotionale Wirkung und erste Wahrnehmung (z. B. vertrauenswürdig, altmodisch, innovativ, austauschbar, sympathisch)\n\n2. Schwächen & Risiken\n\nAnalysiere mögliche Defizite und Risiken, u. a.:\n\nUnklarheiten oder fehlende Informationen in der Stellenanzeige\n\nSchwächen der Website (z. B. fehlende Karriereseite, veraltetes Design, fehlende Arbeitgeberbotschaften, keine Mitarbeiteransprache)\n\nAuswirkungen auf Bewerber (z. B. Absprungrate, geringer Trust, unprofessionelles Bild, mangelnde Attraktivität)\n\n3. Chancen & Potenziale\n\nBewerte, welche Stärken und Möglichkeiten das Unternehmen nutzen kann, um attraktiver zu werden.\n\nStärken, die genutzt werden können\n\nFormuliere die Stärken bitte im Stil klarer Employer-Branding-Botschaften, angelehnt an folgende Formulierungslogik:\n\nZugehörigkeit zu einer großen oder etablierten Unternehmensgruppe\n\nKombination aus langfristiger Stabilität und moderner, dynamischer Arbeitskultur\n\nAttraktive Benefits (z. B. zusätzliches Gehalt, Home-Office, flexible Arbeitszeitmodelle)\n\nSicherheit durch Tarifbindung, nachhaltige Unternehmensstruktur oder krisenfeste Branche\n\nVielfältige fachliche und persönliche Entwicklungsperspektiven innerhalb verschiedener Geschäftsbereiche\n\nFamilienfreundliche oder flexible Arbeitsbedingungen\n\nModerne Technologie- oder Transformationsprojekte\n\nStarke regionale Verwurzelung oder Standortvorteile\n\nWichtig:\nDie Formulierungen sollen kurz, prägnant, konkret und positiv sein – wie professionelle Stärken in einem Employer Branding Konzept.\n\nKommunikationsansätze, die funktionieren könnten\n\n(z. B. authentische Bildwelten, emotionale Sprache, Mitarbeiter-Stories, Social Proof, klare EVP, bessere Strukturierung)\n\n4. Handlungsempfehlungen (konkret & praxisnah)\n\nGib 3–5 umsetzbare Schritte, wie das Unternehmen seine Recruiting-Wirkung verbessern kann.\nBeziehe dich direkt auf die Lösungen, die Abion anbietet, z. B.:\n\nEmployer Branding & Corporate Rebranding\n\nStrategische Recruiting-Kampagnen (Meta, LinkedIn, Jobportale)\n\nOptimierung von Stellenanzeigen (Struktur, Zielgruppenansprache, Tonalität)\n\nAufbau oder Optimierung einer Karriereseite / Arbeitgeberprofile\n\nWorkshops zu Wissenstransfer, Mitarbeiterbindung und HR-Automatisierung\n\nOutput-Format\n\nGib das vollständige Ergebnis ausschließlich als JSON im folgenden Format zurück:\n\n{\n  \"erster_eindruck\": \"\",\n  \"schwaechen_risiken\": \"\",\n  \"chancen_potenziale\": {\n    \"staerken_die_genutzt_werden_koennen\": [],\n    \"kommunikationsansaetze\": []\n  },\n  \"handlungsempfehlungen\": []\n}",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1920,
        128
      ],
      "id": "663665ed-9020-4863-a528-53dc8776aaec",
      "name": "1-Stellenanzeige Analyse (Anja)",
      "credentials": {
        "googlePalmApi": {
          "id": "GYA3lYDDBxyZdB6T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c42cd67f-6e09-4e97-b6fd-33700308e7a3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        864
      ],
      "id": "40e2e2e3-b347-43d1-8427-d5ef4819b92a",
      "name": "Webhook",
      "webhookId": "c42cd67f-6e09-4e97-b6fd-33700308e7a3"
    },
    {
      "parameters": {
        "content": "## Old Convert ! \n",
        "height": 272,
        "width": 992,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        64
      ],
      "typeVersion": 1,
      "id": "1e93c1f5-2c42-4900-a68c-5163e87de036",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Incoming Raw Data').item.json['Safe Save Folder'] }}/{{ $('FILE DONE').item.json.FileName }}.html",
        "dataPropertyName": "=data",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2112,
        864
      ],
      "id": "2faba907-a176-4687-92a0-d7b5201f2e32",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ccab28f-30fc-4925-8c7a-b66f99114c49",
              "name": "body",
              "value": "={{ $('Webhook').item.json.body }}",
              "type": "object"
            },
            {
              "id": "8e222705-7d4b-4523-88a7-8b9860b4e14e",
              "name": "Safe Save Folder",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        864
      ],
      "id": "5a3bf7a7-989f-4bb0-ad1f-564445d89d33",
      "name": "Incoming Raw Data"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=websie",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1856,
        864
      ],
      "id": "b276ed7f-9c93-41bf-9f58-8af38171e302",
      "name": "Make HTML FILE"
    },
    {
      "parameters": {
        "command": "=\nRESULT_FOLDER=\"/data/Abion/Abion_Ultra/{{ $json.body.result_folder }}\"\n\nTIMESTAMP=$(date +%Y-%m-%d_%H-%M-%S)\n\n# Finalen Namen bauen\nFILE_NAME=\"${RESULT_FOLDER}_${TIMESTAMP}\"\n\nmkdir \"$FILE_NAME\"\n\necho \"$FILE_NAME\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1200,
        864
      ],
      "id": "f78d4b31-1ec0-440d-88ce-5796b61878d4",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Stellenanzeige Analyse</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);\n            min-height: 100vh;\n            padding: 60px 40px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 3rem;\n            font-weight: 800;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n            background: linear-gradient(90deg, #4cc9f0, #4361ee);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .subtitle {\n            font-size: 1.25rem;\n            color: #a5b4cb;\n            font-weight: 400;\n            letter-spacing: 0.5px;\n        }\n\n        .grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 40px;\n            margin-bottom: 40px;\n        }\n\n        .card {\n            background: linear-gradient(145deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.02));\n            border-radius: 20px;\n            padding: 40px;\n            border: 1px solid rgba(255, 255, 255, 0.05);\n            backdrop-filter: blur(10px);\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);\n            height: 100%;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .card::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 6px;\n            height: 100%;\n            background: linear-gradient(180deg, #4cc9f0 0%, #4361ee 100%);\n        }\n\n        .card-critical::before {\n            background: linear-gradient(180deg, #ff6b6b 0%, #ff2e2e 100%);\n        }\n\n        .card-opportunity::before {\n            background: linear-gradient(180deg, #4ecdc4 0%, #2a9d8f 100%);\n        }\n\n        .card-strength::before {\n            background: linear-gradient(180deg, #ffd166 0%, #ff9e00 100%);\n        }\n\n        .card-communication::before {\n            background: linear-gradient(180deg, #a663cc 0%, #6d2e8c 100%);\n        }\n\n        .card-action::before {\n            background: linear-gradient(180deg, #2a9d8f 0%, #264653 100%);\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 30px;\n        }\n\n        .icon {\n            font-size: 28px;\n            margin-right: 20px;\n            width: 60px;\n            height: 60px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            background: linear-gradient(145deg, rgba(76, 201, 240, 0.2), rgba(67, 97, 238, 0.2));\n        }\n\n        .icon-critical {\n            background: linear-gradient(145deg, rgba(255, 107, 107, 0.2), rgba(255, 46, 46, 0.2));\n        }\n\n        .icon-opportunity {\n            background: linear-gradient(145deg, rgba(78, 205, 196, 0.2), rgba(42, 157, 143, 0.2));\n        }\n\n        .icon-strength {\n            background: linear-gradient(145deg, rgba(255, 209, 102, 0.2), rgba(255, 158, 0, 0.2));\n        }\n\n        .icon-communication {\n            background: linear-gradient(145deg, rgba(166, 99, 204, 0.2), rgba(109, 46, 140, 0.2));\n        }\n\n        .icon-action {\n            background: linear-gradient(145deg, rgba(42, 157, 143, 0.2), rgba(38, 70, 83, 0.2));\n        }\n\n        h2 {\n            font-size: 1.75rem;\n            font-weight: 700;\n            color: #ffffff;\n            letter-spacing: -0.3px;\n        }\n\n        h3 {\n            font-size: 1.375rem;\n            font-weight: 600;\n            color: #ffffff;\n            margin: 30px 0 20px 0;\n            letter-spacing: -0.2px;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        ul,\n        ol {\n            padding-left: 20px;\n            margin-bottom: 20px;\n        }\n\n        li {\n            margin-bottom: 16px;\n            color: #e2e8f0;\n            font-size: 1.125rem;\n            line-height: 1.7;\n        }\n\n        .empty-state {\n            color: #8a9bb2;\n            font-style: italic;\n            font-size: 1.125rem;\n            padding: 20px 0;\n            text-align: center;\n        }\n\n        .two-column {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 40px;\n            margin-top: 10px;\n        }\n\n        .full-width-card {\n            margin-top: 40px;\n            padding: 50px;\n        }\n\n        .section-divider {\n            height: 1px;\n            background: linear-gradient(90deg, transparent, rgba(76, 201, 240, 0.3), transparent);\n            margin: 50px 0;\n        }\n\n        .card-title {\n            font-size: 0.875rem;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            color: #4cc9f0;\n            margin-bottom: 8px;\n            font-weight: 600;\n        }\n\n        .opportunity-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 40px;\n            margin-bottom: 40px;\n        }\n\n        .opportunity-grid .card {\n            margin-top: 0;\n        }\n\n        .action-text-content {\n            color: #e2e8f0;\n            font-size: 1.2rem;\n            line-height: 1.8;\n            margin-top: 20px;\n        }\n\n        .action-text-content p {\n            margin-bottom: 25px;\n            text-align: justify;\n        }\n\n        .action-text-content p:last-child {\n            margin-bottom: 0;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Stellenanzeige Analyse</h1>\n            <div class=\"subtitle\">Strategische Bewertung & Handlungsempfehlungen</div>\n        </header>\n        <main>\n            <div class=\"grid\">\n                <div class=\"card\">\n                    <div class=\"card-title\">Einschätzung</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon\"> <span class=\"material-icons\">first_page</span> </div>\n                        <h2>Erster Eindruck</h2>\n                    </div>\n                    <div id=\"erster-eindruck\" class=\"content-section\"> <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n                <div class=\"card card-critical\">\n                    <div class=\"card-title\">Risikobewertung</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-critical\"> <span class=\"material-icons\">warning</span> </div>\n                        <h2>Schwächen & Risiken</h2>\n                    </div>\n                    <div id=\"schwaechen-risiken\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript --> </div>\n                </div>\n            </div>\n            <div class=\"section-divider\"></div>\n            <div class=\"opportunity-grid\">\n                <div class=\"card card-strength\">\n                    <div class=\"card-title\">Potenzialanalyse</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-strength\"> <span class=\"material-icons\">workspace_premium</span> </div>\n                        <h2>Stärken</h2>\n                    </div>\n                    <div id=\"staerken-genutzt\" class=\"content-section\"> <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n                <div class=\"card card-communication\">\n                    <div class=\"card-title\">Strategie</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-communication\"> <span class=\"material-icons\">campaign</span> </div>\n                        <h2>Kommunikation</h2>\n                    </div>\n                    <div id=\"kommunikationsansaetze\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript --> </div>\n                </div>\n            </div>\n            <div class=\"card card-action full-width-card\">\n                <div class=\"card-title\">Umsetzung</div>\n                <div class=\"card-header\">\n                    <div class=\"icon icon-action\"> <span class=\"material-icons\">assignment_turned_in</span> </div>\n                    <h2>Handlungsempfehlungen</h2>\n                </div>\n                <div id=\"handlungsempfehlungen\" class=\"content-section\">\n                    <!-- Content will be populated by JavaScript --> </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"analysis-data\" type=\"application/json\">\n{{ JSON.stringify($json.Inhalt) }}\n\n</script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function () {\n            const dataElement = document.getElementById('analysis-data');\n            const analysisData = JSON.parse(dataElement.textContent);\n            \n            function formatKey(key) {\n                return key\n                    .replace(/_/g, ' ')\n                    .replace(/\\b\\w/g, l => l.toUpperCase());\n            }\n\n            function renderList(containerId, items) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n\n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    return;\n                }\n\n                const list = document.createElement('ul');\n                items.forEach(item => {\n                    const li = document.createElement('li');\n                    li.textContent = item;\n                    list.appendChild(li);\n                });\n                container.innerHTML = '';\n                container.appendChild(list);\n            }\n\n            function renderTextContent(containerId, text) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n\n                if (!text || text.trim() === '') {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    return;\n                }\n\n                container.innerHTML = '<div class=\"action-text-content\"></div>';\n                const contentDiv = container.querySelector('.action-text-content');\n\n                const paragraphs = text.split('\\n\\n');\n                paragraphs.forEach(paragraph => {\n                    if (paragraph.trim()) {\n                        const p = document.createElement('p');\n                        p.textContent = paragraph.trim();\n                        contentDiv.appendChild(p);\n                    }\n                });\n            }\n\n\nfunction renderActions(containerId, actions) {\n    const container = document.getElementById(containerId);\n    if (!container) return;\n\n    if (!actions || typeof actions !== 'object') {\n        container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n        return;\n    }\n\n    container.innerHTML = '';\n\n    // Erwartet: handlungsempfehlungen = { key1: \"Text...\", key2: \"Text...\" }\n    for (const [key, value] of Object.entries(actions)) {\n        const wrapper = document.createElement('div');\n        wrapper.classList.add('action-text-content');\n\n        const title = document.createElement('h3');\n        title.textContent = formatKey(key);   // <-- JSON-Attributname als Titel\n        wrapper.appendChild(title);\n\n        if (typeof value === 'string' && value.trim() !== '') {\n            const p = document.createElement('p');\n            p.textContent = value.trim();     // <-- Inhalt = Wert\n            wrapper.appendChild(p);\n        }\n\n        container.appendChild(wrapper);\n    }\n\n    if (!container.innerHTML.trim()) {\n        container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n    }\n}\n\n\n            function renderSection(containerId, sectionData) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n\n                if (Array.isArray(sectionData)) {\n                    renderList(containerId, sectionData);\n                } else if (typeof sectionData === 'object' && sectionData !== null) {\n                    container.innerHTML = '';\n                    for (const [key, value] of Object.entries(sectionData)) {\n                        if (Array.isArray(value) && value.length > 0) {\n                            const title = document.createElement('h3');\n                            title.textContent = formatKey(key);\n                            container.appendChild(title);\n\n                            const list = document.createElement('ul');\n                            value.forEach(item => {\n                                const li = document.createElement('li');\n                                li.textContent = item;\n                                list.appendChild(li);\n                            });\n                            container.appendChild(list);\n                        }\n                    }\n\n                    if (container.innerHTML === '') {\n                        container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    }\n                } else if (typeof sectionData === 'string') {\n                    renderTextContent(containerId, sectionData);\n                }\n            }\n\n            renderSection('erster-eindruck', analysisData.erster_eindruck);\n            renderSection('schwaechen-risiken', analysisData.schwaechen_und_risiken);\n            renderSection('staerken-genutzt', analysisData.chancen_und_potenziale?.staerken_die_genutzt_werden_koennen);\n            renderSection('kommunikationsansaetze', analysisData.chancen_und_potenziale?.kommunikationsansaetze);\n\n            // hier werden die Handlungsempfehlungen gerendert\n            renderActions('handlungsempfehlungen', analysisData.handlungsempfehlungen);\n        });\n    </script>\n\n</body>\n\n</html>",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ],
      "id": "10abe3af-7ef9-4ecc-a11c-fbcffebf77ed",
      "name": "Website Data 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Wirkungsanalyse</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #2d1b69 0%, #1a103c 50%, #0f0a23 100%);\n            min-height: 100vh;\n            padding: 60px 40px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 3rem;\n            font-weight: 800;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n            background: linear-gradient(90deg, #9d50ff, #6a11cb);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .subtitle {\n            font-size: 1.25rem;\n            color: #a5b4cb;\n            font-weight: 400;\n            letter-spacing: 0.5px;\n        }\n\n        .grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 40px;\n            margin-bottom: 40px;\n        }\n\n        .card {\n            background: linear-gradient(145deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.02));\n            border-radius: 20px;\n            padding: 40px;\n            border: 1px solid rgba(255, 255, 255, 0.05);\n            backdrop-filter: blur(10px);\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);\n            height: 100%;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .card::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 6px;\n            height: 100%;\n            background: linear-gradient(180deg, #9d50ff 0%, #6a11cb 100%);\n        }\n\n        .card-appearance::before {\n            background: linear-gradient(180deg, #ff9a9e 0%, #fad0c4 100%);\n        }\n\n        .card-professional::before {\n            background: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);\n        }\n\n        .card-tone::before {\n            background: linear-gradient(180deg, #ffecd2 0%, #fcb69f 100%);\n        }\n\n        .card-modern::before {\n            background: linear-gradient(180deg, #84fab0 0%, #8fd3f4 100%);\n        }\n\n        .card-target::before {\n            background: linear-gradient(180deg, #d4fc79 0%, #96e6a1 100%);\n        }\n\n        .card-emotion::before {\n            background: linear-gradient(180deg, #a6c0fe 0%, #f68084 100%);\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 30px;\n        }\n\n        .icon {\n            font-size: 28px;\n            margin-right: 20px;\n            width: 60px;\n            height: 60px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            background: linear-gradient(145deg, rgba(157, 80, 255, 0.2), rgba(106, 17, 203, 0.2));\n        }\n\n        .icon-appearance {\n            background: linear-gradient(145deg, rgba(255, 154, 158, 0.2), rgba(250, 208, 196, 0.2));\n        }\n\n        .icon-professional {\n            background: linear-gradient(145deg, rgba(161, 196, 253, 0.2), rgba(194, 233, 251, 0.2));\n        }\n\n        .icon-tone {\n            background: linear-gradient(145deg, rgba(255, 236, 210, 0.2), rgba(252, 182, 159, 0.2));\n        }\n\n        .icon-modern {\n            background: linear-gradient(145deg, rgba(132, 250, 176, 0.2), rgba(143, 211, 244, 0.2));\n        }\n\n        .icon-target {\n            background: linear-gradient(145deg, rgba(212, 252, 121, 0.2), rgba(150, 230, 161, 0.2));\n        }\n\n        .icon-emotion {\n            background: linear-gradient(145deg, rgba(166, 192, 254, 0.2), rgba(246, 128, 132, 0.2));\n        }\n\n        h2 {\n            font-size: 1.75rem;\n            font-weight: 700;\n            color: #ffffff;\n            letter-spacing: -0.3px;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        ul, ol {\n            padding-left: 20px;\n            margin-bottom: 20px;\n        }\n\n        li {\n            margin-bottom: 16px;\n            color: #e2e8f0;\n            font-size: 1.125rem;\n            line-height: 1.7;\n        }\n\n        .empty-state {\n            color: #8a9bb2;\n            font-style: italic;\n            font-size: 1.125rem;\n            padding: 20px 0;\n            text-align: center;\n        }\n\n        .section-divider {\n            height: 1px;\n            background: linear-gradient(90deg, transparent, rgba(157, 80, 255, 0.3), transparent);\n            margin: 50px 0;\n        }\n\n        .card-title {\n            font-size: 0.875rem;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            color: #9d50ff;\n            margin-bottom: 8px;\n            font-weight: 600;\n        }\n\n        .three-column-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 40px;\n            margin-bottom: 40px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Website Wirkungsanalyse</h1>\n            <div class=\"subtitle\">Umfassende Bewertung der Benutzerwahrnehmung</div>\n        </header>\n\n        <main>\n            <div class=\"three-column-grid\">\n                <div class=\"card card-appearance\">\n                    <div class=\"card-title\">Visueller Eindruck</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-appearance\">\n                            <span class=\"material-icons\">visibility</span>\n                        </div>\n                        <h2>Erstes Erscheinungsbild</h2>\n                    </div>\n                    <div id=\"erstes-erscheinungsbild\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-professional\">\n                    <div class=\"card-title\">Glaubwürdigkeit</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-professional\">\n                            <span class=\"material-icons\">business_center</span>\n                        </div>\n                        <h2>Professionelle Wirkung</h2>\n                    </div>\n                    <div id=\"professionelle-wirkung\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-tone\">\n                    <div class=\"card-title\">Kommunikation</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-tone\">\n                            <span class=\"material-icons\">record_voice_over</span>\n                        </div>\n                        <h2>Ton & Sprache</h2>\n                    </div>\n                    <div id=\"ton-und-sprache\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-modern\">\n                    <div class=\"card-title\">Technologie</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-modern\">\n                            <span class=\"material-icons\">update</span>\n                        </div>\n                        <h2>Modernität</h2>\n                    </div>\n                    <div id=\"modernitaet\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-target\">\n                    <div class=\"card-title\">Zielgruppen</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-target\">\n                            <span class=\"material-icons\">groups</span>\n                        </div>\n                        <h2>Zielgruppen-Fit</h2>\n                    </div>\n                    <div id=\"zielgruppen-fit\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-emotion\">\n                    <div class=\"card-title\">Emotionales Design</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-emotion\">\n                            <span class=\"material-icons\">mood</span>\n                        </div>\n                        <h2>Emotion & Wahrnehmung</h2>\n                    </div>\n                    <div id=\"emotion-und-wahrnehmung\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"website-data\" type=\"application/json\">\n      {{ JSON.stringify($json.Inhalt) }}\n    </script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const dataElement = document.getElementById('website-data');\n            const websiteData = JSON.parse(dataElement.textContent);\n            \n            function renderList(containerId, items) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    return;\n                }\n                \n                const list = document.createElement('ul');\n                items.forEach(item => {\n                    const li = document.createElement('li');\n                    li.textContent = item;\n                    list.appendChild(li);\n                });\n                container.innerHTML = '';\n                container.appendChild(list);\n            }\n            \n            const sections = websiteData.website_wirkung;\n            \n            renderList('erstes-erscheinungsbild', sections.erstes_erscheinungsbild);\n            renderList('professionelle-wirkung', sections.professionelle_wirkung);\n            renderList('ton-und-sprache', sections.ton_und_sprache);\n            renderList('modernitaet', sections.modernitaet);\n            renderList('zielgruppen-fit', sections.zielgruppen_fit);\n            renderList('emotion-und-wahrnehmung', sections.emotion_und_wahrnehmung);\n        });\n    </script>\n</body>\n</html>\n",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        416
      ],
      "id": "6fbc6d2f-c829-4b8a-9e71-22f96afe6ed3",
      "name": "Website Data 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Veröffentlichungsanalyse Stellenanzeige</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #1e3c72 0%, #2a5298 50%, #3a7bd5 100%);\n            min-height: 100vh;\n            padding: 40px 20px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 50px;\n            padding-bottom: 25px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 2.5rem;\n            font-weight: 700;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n        }\n\n        .subtitle {\n            font-size: 1.125rem;\n            color: #a5b4cb;\n            font-weight: 400;\n        }\n\n        .grid {\n            display: grid;\n            grid-template-columns: 2fr 1fr;\n            gap: 30px;\n            margin-bottom: 40px;\n        }\n\n        .card {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 12px;\n            padding: 30px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            height: 100%;\n        }\n\n        .card-platforms {\n            border-left: 4px solid #4A90E2;\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 25px;\n        }\n\n        .icon {\n            font-size: 24px;\n            margin-right: 15px;\n            width: 50px;\n            height: 50px;\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            background: rgba(74, 144, 226, 0.1);\n            color: #4A90E2;\n        }\n\n        h2 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        ul {\n            list-style-type: none;\n            padding-left: 0;\n        }\n\n        li {\n            margin-bottom: 15px;\n            color: #e2e8f0;\n            font-size: 1rem;\n            line-height: 1.6;\n            padding: 12px 15px;\n            background: rgba(255, 255, 255, 0.03);\n            border-radius: 8px;\n            border-left: 3px solid #4A90E2;\n        }\n\n        .empty-state {\n            color: #8a9bb2;\n            font-style: italic;\n            font-size: 1rem;\n            padding: 20px;\n            text-align: center;\n            background: rgba(255, 255, 255, 0.02);\n            border-radius: 8px;\n            border: 1px dashed rgba(255, 255, 255, 0.1);\n        }\n\n        .info-grid {\n            display: grid;\n            grid-template-columns: 1fr;\n            gap: 20px;\n        }\n\n        .info-card {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 12px;\n            padding: 25px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        .info-title {\n            font-size: 0.875rem;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            color: #a5b4cb;\n            margin-bottom: 8px;\n            font-weight: 500;\n        }\n\n        .info-value {\n            font-size: 1.75rem;\n            font-weight: 600;\n            color: #ffffff;\n            margin-bottom: 12px;\n            min-height: 40px;\n            display: flex;\n            align-items: center;\n        }\n\n        .info-value.empty {\n            color: #8a9bb2;\n            font-style: italic;\n        }\n\n        .info-description {\n            font-size: 0.95rem;\n            color: #a5b4cb;\n            line-height: 1.5;\n            min-height: 40px;\n        }\n\n        .info-description.empty {\n            color: #8a9bb2;\n            font-style: italic;\n        }\n\n        .text-content {\n            color: #e2e8f0;\n            font-size: 1rem;\n            line-height: 1.6;\n            background: rgba(255, 255, 255, 0.02);\n            padding: 20px;\n            border-radius: 8px;\n            border: 1px solid rgba(255, 255, 255, 0.08);\n        }\n\n        .data-value {\n            color: #ffffff;\n            font-weight: 500;\n            background: rgba(255, 255, 255, 0.05);\n            padding: 8px 12px;\n            border-radius: 6px;\n            display: inline-block;\n            margin: 5px 0;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        @media (max-width: 768px) {\n            .grid {\n                grid-template-columns: 1fr;\n            }\n            \n            body {\n                padding: 20px 15px;\n            }\n            \n            h1 {\n                font-size: 2rem;\n            }\n            \n            .card {\n                padding: 20px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Veröffentlichungsanalyse</h1>\n            <div class=\"subtitle\">Strategische Bewertung der Stellenanzeigen-Publikation</div>\n        </header>\n\n        <main>\n            <div class=\"grid\">\n                <div class=\"card card-platforms\">\n                    <div class=\"card-header\">\n                        <div class=\"icon\">\n                            <span class=\"material-icons\">language</span>\n                        </div>\n                        <h2>Webseiten & Plattformen</h2>\n                    </div>\n                    <div id=\"webseiten-plattformen\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"info-grid\">\n                    <div class=\"info-card\">\n                        <div class=\"info-title\">Anzahl der Plattformen</div>\n                        <div id=\"anzahl\" class=\"info-value\">\n                            <!-- Content will be populated by JavaScript -->\n                        </div>\n                        <div class=\"info-description\">Empfohlene Anzahl an Veröffentlichungsplattformen</div>\n                    </div>\n\n                    <div class=\"info-card\">\n                        <div class=\"info-title\">Kostenschätzung</div>\n                        <div id=\"kosten-schaetzung-zahl\" class=\"info-value\">\n                            <!-- Content will be populated by JavaScript -->\n                        </div>\n                        <div id=\"kosten-schaetzung-begruendung\" class=\"info-description\">\n                            <!-- Content will be populated by JavaScript -->\n                        </div>\n                    </div>\n\n                    <div class=\"info-card\">\n                        <div class=\"info-title\">Anzeigenlaufzeit</div>\n                        <div id=\"anzeigen-laufzeit-schaetzung\" class=\"info-value\">\n                            <!-- Content will be populated by JavaScript -->\n                        </div>\n                        <div class=\"info-description\">Optimale Dauer der Veröffentlichung</div>\n                    </div>\n                </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"publication-data\" type=\"application/json\">\n        {{ JSON.stringify($json.Inhalt) }}\n    </script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const dataElement = document.getElementById('publication-data');\n            const publicationData = JSON.parse(dataElement.textContent);\n            const data = publicationData.veroeffentlichung_stellenanzeige;\n            \n            function renderList(containerId, items) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    return;\n                }\n                \n                const list = document.createElement('ul');\n                items.forEach(item => {\n                    const li = document.createElement('li');\n                    li.innerHTML = `<span class=\"data-value\">${item}</span>`;\n                    list.appendChild(li);\n                });\n                container.innerHTML = '';\n                container.appendChild(list);\n            }\n            \n            function renderTextValue(containerId, text) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!text || text.trim() === '') {\n                    container.textContent = 'Keine Angabe';\n                    container.classList.add('empty');\n                    return;\n                }\n                \n                container.textContent = text;\n                container.classList.remove('empty');\n            }\n            \n            function renderTextContent(containerId, text) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!text || text.trim() === '') {\n                    container.textContent = 'Keine Begründung verfügbar';\n                    container.classList.add('empty');\n                    return;\n                }\n                \n                container.textContent = text;\n                container.classList.remove('empty');\n            }\n            \n            // Render all data\n            renderList('webseiten-plattformen', data.webseiten_und_plattformen);\n            renderTextValue('anzahl', data.anzahl);\n            renderTextValue('kosten-schaetzung-zahl', data.kosten_schaetzung_zahl);\n            renderTextContent('kosten-schaetzung-begruendung', data.kosten_schaetzung_begründung);\n            renderTextValue('anzeigen-laufzeit-schaetzung', data.anzeigen_laufzeit_schaetzung);\n        });\n    </script>\n</body>\n</html>",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        640
      ],
      "id": "79a993d5-7384-4a90-8ab7-0268ba9d3141",
      "name": "Website Data 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Externe Bewertungen Analyse</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #1a1a1a 0%, #2d3436 100%);\n            min-height: 100vh;\n            padding: 40px 20px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 50px;\n            padding-bottom: 25px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 2.5rem;\n            font-weight: 700;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n        }\n\n        .subtitle {\n            font-size: 1.125rem;\n            color: #a5b4cb;\n            font-weight: 400;\n        }\n\n        .overview-section {\n            display: grid;\n            grid-template-columns: 1fr 2fr;\n            gap: 30px;\n            margin-bottom: 40px;\n        }\n\n        .card {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 12px;\n            padding: 30px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            height: 100%;\n        }\n\n        .card-rating {\n            border-left: 4px solid #FFD700;\n        }\n\n        .card-strengths {\n            border-left: 4px solid #50C878;\n        }\n\n        .card-weaknesses {\n            border-left: 4px solid #FF6B6B;\n        }\n\n        .card-impression {\n            border-left: 4px solid #4A90E2;\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 25px;\n        }\n\n        .icon {\n            font-size: 24px;\n            margin-right: 15px;\n            width: 50px;\n            height: 50px;\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .icon-rating {\n            background: rgba(255, 215, 0, 0.1);\n            color: #FFD700;\n        }\n\n        .icon-strengths {\n            background: rgba(80, 200, 120, 0.1);\n            color: #50C878;\n        }\n\n        .icon-weaknesses {\n            background: rgba(255, 107, 107, 0.1);\n            color: #FF6B6B;\n        }\n\n        .icon-impression {\n            background: rgba(74, 144, 226, 0.1);\n            color: #4A90E2;\n        }\n\n        h2 {\n            font-size: 1.5rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n\n        h3 {\n            font-size: 1.375rem;\n            font-weight: 600;\n            color: #ffffff;\n            margin: 30px 0 20px 0;\n            text-align: center;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        ul {\n            list-style-type: none;\n            padding-left: 0;\n        }\n\n        li {\n            margin-bottom: 15px;\n            color: #e2e8f0;\n            font-size: 1rem;\n            line-height: 1.6;\n            padding: 12px 15px;\n            background: rgba(255, 255, 255, 0.03);\n            border-radius: 8px;\n        }\n\n        .rating-display {\n            text-align: center;\n            padding: 20px;\n        }\n\n        .rating-value {\n            font-size: 3.5rem;\n            font-weight: 700;\n            color: #FFD700;\n            margin-bottom: 10px;\n        }\n\n        .rating-label {\n            font-size: 1.125rem;\n            color: #a5b4cb;\n        }\n\n        .empty-state {\n            color: #8a9bb2;\n            font-style: italic;\n            font-size: 1rem;\n            padding: 20px;\n            text-align: center;\n            background: rgba(255, 255, 255, 0.02);\n            border-radius: 8px;\n            border: 1px dashed rgba(255, 255, 255, 0.1);\n        }\n\n        .sources-grid {\n            display: grid;\n            grid-template-columns: 1fr;\n            gap: 20px;\n        }\n\n        .source-card {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 12px;\n            padding: 25px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        .source-header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 15px;\n            padding-bottom: 15px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        .source-portal {\n            font-size: 1.125rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n\n        .source-meta {\n            font-size: 0.875rem;\n            color: #a5b4cb;\n            margin-bottom: 15px;\n            line-height: 1.5;\n        }\n\n        .source-link {\n            display: inline-block;\n            color: #4fc3f7;\n            font-weight: 500;\n            text-decoration: none;\n            word-break: break-all;\n            padding: 8px 12px;\n            background: rgba(79, 195, 247, 0.1);\n            border-radius: 6px;\n            border: 1px solid rgba(79, 195, 247, 0.2);\n            width: 100%;\n            margin-top: 10px;\n        }\n\n        .analysis-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 20px;\n        }\n\n        .section-divider {\n            height: 1px;\n            background: rgba(255, 255, 255, 0.1);\n            margin: 40px 0;\n        }\n\n        .data-item {\n            color: #ffffff;\n            font-weight: 500;\n            background: rgba(255, 255, 255, 0.05);\n            padding: 8px 12px;\n            border-radius: 6px;\n            display: inline-block;\n            margin: 5px 0;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        .meta-item {\n            color: #a5b4cb;\n            font-size: 0.95rem;\n            margin-bottom: 8px;\n        }\n\n        @media (max-width: 768px) {\n            .overview-section,\n            .analysis-grid {\n                grid-template-columns: 1fr;\n            }\n            \n            body {\n                padding: 20px 15px;\n            }\n            \n            h1 {\n                font-size: 2rem;\n            }\n            \n            .card {\n                padding: 20px;\n            }\n            \n            .rating-value {\n                font-size: 2.5rem;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Externe Bewertungen Analyse</h1>\n            <div class=\"subtitle\">Aggregierte Auswertung aus verschiedenen Bewertungsplattformen</div>\n        </header>\n\n        <main>\n            <div class=\"overview-section\">\n                <div class=\"card card-rating\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-rating\">\n                            <span class=\"material-icons\">star</span>\n                        </div>\n                        <h2>Gesamtwertung</h2>\n                    </div>\n                    <div id=\"gesamt-wertung\" class=\"rating-display\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card\">\n                    <div class=\"card-header\">\n                        <div class=\"icon\">\n                            <span class=\"material-icons\">source</span>\n                        </div>\n                        <h2>Quellen</h2>\n                    </div>\n                    <div id=\"quellen-container\" class=\"sources-grid\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section-divider\"></div>\n\n            <h3>Detaillierte Analyse</h3>\n            \n            <div class=\"analysis-grid\">\n                <div class=\"card card-strengths\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-strengths\">\n                            <span class=\"material-icons\">add_circle</span>\n                        </div>\n                        <h2>Stärken</h2>\n                    </div>\n                    <div id=\"staerken\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-weaknesses\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-weaknesses\">\n                            <span class=\"material-icons\">remove_circle</span>\n                        </div>\n                        <h2>Schwächen</h2>\n                    </div>\n                    <div id=\"schwaechen\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-impression\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-impression\">\n                            <span class=\"material-icons\">description</span>\n                        </div>\n                        <h2>Gesamteindruck</h2>\n                    </div>\n                    <div id=\"gesamt-eindruck\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"reviews-data\" type=\"application/json\">\n            {{ JSON.stringify($json.Inhalt) }}\n    </script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const dataElement = document.getElementById('reviews-data');\n            const reviewsData = JSON.parse(dataElement.textContent);\n            const data = reviewsData.externe_bewertungen;\n            \n            function renderRating() {\n                const container = document.getElementById('gesamt-wertung');\n                if (!container) return;\n                \n                if (!data.gesamt_wertung || data.gesamt_wertung.trim() === '') {\n                    container.innerHTML = `\n                        <div class=\"rating-value\">N/A</div>\n                        <div class=\"rating-label\">Keine Bewertung verfügbar</div>\n                    `;\n                    return;\n                }\n                \n                container.innerHTML = `\n                    <div class=\"rating-value\">N/A</div>\n                    <div class=\"rating-label\">${data.gesamt_wertung}</div>\n                `;\n            }\n            \n            function renderSources() {\n                const container = document.getElementById('quellen-container');\n                if (!container) return;\n                \n                if (!data.quellen || data.quellen.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Quellen verfügbar</div>';\n                    return;\n                }\n                \n                container.innerHTML = '';\n                data.quellen.forEach(source => {\n                    const sourceCard = document.createElement('div');\n                    sourceCard.className = 'source-card';\n                    \n                    let ratingDisplay = '';\n                    if (source.rating && source.rating !== 'Nicht verfügbar') {\n                        ratingDisplay = `<div class=\"data-item\">${source.rating}/5</div>`;\n                    }\n                    \n                    let reviewCountDisplay = '';\n                    if (source.anzahl_bewertungen && source.anzahl_bewertungen !== 'Nicht verfügbar') {\n                        reviewCountDisplay = `<div class=\"meta-item\">${source.anzahl_bewertungen} Bewertungen</div>`;\n                    }\n                    \n                    let feedbackDisplay = '';\n                    if (source.haupt_feedback && source.haupt_feedback !== 'Keine Bewertungstexte zur Analyse bereitgestellt. Es wurde lediglich ein Link zur Plattform übergeben.') {\n                        feedbackDisplay = `\n                            <div class=\"source-meta\">\n                                <strong>Hauptfeedback:</strong> ${source.haupt_feedback}\n                            </div>\n                        `;\n                    }\n                    \n                    let portalLink = '';\n                    if (source.portal && source.portal.toLowerCase() === 'kununu') {\n                        portalLink = `<a href=\"https://www.kununu.com\" target=\"_blank\" rel=\"noopener noreferrer\" class=\"source-link\">Zu Kununu</a>`;\n                    }\n                    \n                    sourceCard.innerHTML = `\n                        <div class=\"source-header\">\n                            <div class=\"source-portal\">${source.portal || 'Unbekannte Quelle'}</div>\n                            ${ratingDisplay}\n                        </div>\n                        ${reviewCountDisplay}\n                        ${feedbackDisplay}\n                        ${portalLink}\n                    `;\n                    \n                    container.appendChild(sourceCard);\n                });\n            }\n            \n            function renderList(containerId, items) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    return;\n                }\n                \n                const list = document.createElement('ul');\n                items.forEach(item => {\n                    const li = document.createElement('li');\n                    li.innerHTML = `<span class=\"data-item\">${item}</span>`;\n                    list.appendChild(li);\n                });\n                container.innerHTML = '';\n                container.appendChild(list);\n            }\n            \n            renderRating();\n            renderSources();\n            renderList('staerken', data.analyse?.staerken || []);\n            renderList('schwaechen', data.analyse?.schwaechen || []);\n            renderList('gesamt-eindruck', data.analyse?.gesamt_eindruck || []);\n        });\n    </script>\n</body>\n</html>",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        864
      ],
      "id": "a167806e-963a-4ff6-b3b2-0422e3b1b5ac",
      "name": "Website Data 4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Kosten & Zeitanalyse Vakanz</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);\n            min-height: 100vh;\n            padding: 60px 40px;\n        }\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 3rem;\n            font-weight: 800;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n            background: linear-gradient(90deg, #ffffff, #ffaf7b);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .subtitle {\n            font-size: 1.25rem;\n            color: rgba(255, 255, 255, 0.9);\n            font-weight: 400;\n            letter-spacing: 0.5px;\n        }\n\n        .cards-column {\n            display: flex;\n            flex-direction: column;\n            gap: 40px;\n            margin-bottom: 40px;\n        }\n\n        .card {\n            background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));\n            border-radius: 20px;\n            padding: 35px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            backdrop-filter: blur(10px);\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);\n            position: relative;\n            overflow: hidden;\n            width: 100%;\n        }\n\n        .card::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 6px;\n            height: 100%;\n        }\n\n        .card-duration::before {\n            background: linear-gradient(180deg, #7b4397 0%, #dc2430 100%);\n        }\n\n        .card-cost::before {\n            background: linear-gradient(180deg, #00b09b 0%, #96c93d 100%);\n        }\n\n        .card-risk::before {\n            background: linear-gradient(180deg, #ff416c 0%, #ff4b2b 100%);\n        }\n\n        .card-budget::before {\n            background: linear-gradient(180deg, #8e2de2 0%, #4a00e0 100%);\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 25px;\n        }\n\n        .icon {\n            font-size: 28px;\n            margin-right: 20px;\n            width: 60px;\n            height: 60px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .icon-duration {\n            background: linear-gradient(145deg, rgba(123, 67, 151, 0.3), rgba(220, 36, 48, 0.3));\n        }\n\n        .icon-cost {\n            background: linear-gradient(145deg, rgba(0, 176, 155, 0.3), rgba(150, 201, 61, 0.3));\n        }\n\n        .icon-risk {\n            background: linear-gradient(145deg, rgba(255, 65, 108, 0.3), rgba(255, 75, 43, 0.3));\n        }\n\n        .icon-budget {\n            background: linear-gradient(145deg, rgba(142, 45, 226, 0.3), rgba(74, 0, 224, 0.3));\n        }\n\n        h2 {\n            font-size: 1.75rem;\n            font-weight: 700;\n            color: #ffffff;\n            letter-spacing: -0.3px;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        .metric-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 20px;\n            margin-bottom: 25px;\n        }\n\n        .metric-card {\n            background: rgba(255, 255, 255, 0.08);\n            border-radius: 12px;\n            padding: 20px;\n            text-align: center;\n        }\n\n        .metric-value {\n            font-size: 2rem;\n            font-weight: 700;\n            color: #ffffff;\n            margin-bottom: 5px;\n        }\n\n        .metric-label {\n            font-size: 0.875rem;\n            color: rgba(255, 255, 255, 0.8);\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n\n        .assumption-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 15px;\n            margin-top: 20px;\n        }\n\n        .assumption-item {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 10px;\n            padding: 15px;\n        }\n\n        .assumption-label {\n            font-size: 0.875rem;\n            color: rgba(255, 255, 255, 0.7);\n            margin-bottom: 5px;\n        }\n\n        .assumption-value {\n            font-size: 1.125rem;\n            font-weight: 600;\n            color: #ffffff;\n        }\n\n        .text-content {\n            color: rgba(255, 255, 255, 0.9);\n            font-size: 1.125rem;\n            line-height: 1.7;\n            margin-top: 15px;\n        }\n\n        .formula-display {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 10px;\n            padding: 20px;\n            margin: 20px 0;\n            font-family: monospace;\n            font-size: 1rem;\n            color: #ffffff;\n            text-align: center;\n        }\n\n        .cost-amount {\n            font-size: 3rem;\n            font-weight: 800;\n            color: #00b09b;\n            text-align: center;\n            margin: 20px 0;\n            text-shadow: 0 0 20px rgba(0, 176, 155, 0.3);\n        }\n\n        .budget-range {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin: 25px 0;\n        }\n\n        .budget-min, .budget-max {\n            text-align: center;\n            flex: 1;\n        }\n\n        .budget-value {\n            font-size: 2.5rem;\n            font-weight: 700;\n            color: #8e2de2;\n            margin-bottom: 5px;\n        }\n\n        .budget-label {\n            font-size: 0.875rem;\n            color: rgba(255, 255, 255, 0.7);\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n\n        .budget-separator {\n            color: rgba(255, 255, 255, 0.3);\n            font-size: 1.5rem;\n            padding: 0 20px;\n        }\n\n        .empty-state {\n            color: rgba(255, 255, 255, 0.5);\n            font-style: italic;\n            font-size: 1.125rem;\n            padding: 20px 0;\n            text-align: center;\n        }\n\n        .section-divider {\n            height: 1px;\n            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);\n            margin: 40px 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Vakanz Kosten & Zeitanalyse</h1>\n            <div class=\"subtitle\">Finanzielle Auswirkungen und Zeitrahmen der Stellenbesetzung</div>\n        </header>\n\n        <main>\n            <div class=\"cards-column\">\n                <div class=\"card card-duration\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-duration\">\n                            <span class=\"material-icons\">schedule</span>\n                        </div>\n                        <h2>Besetzungsdauer</h2>\n                    </div>\n                    <div id=\"besetzungsdauer-content\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-cost\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-cost\">\n                            <span class=\"material-icons\">euro_symbol</span>\n                        </div>\n                        <h2>Cost of Vacancy</h2>\n                    </div>\n                    <div id=\"cost-of-vacancy-content\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-risk\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-risk\">\n                            <span class=\"material-icons\">warning</span>\n                        </div>\n                        <h2>Risiko Vakanz</h2>\n                    </div>\n                    <div id=\"risiko-vakanz-content\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-budget\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-budget\">\n                            <span class=\"material-icons\">attach_money</span>\n                        </div>\n                        <h2>Empf. Budget</h2>\n                    </div>\n                    <div id=\"empfohlenes-budget-content\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"vacancy-data\" type=\"application/json\">\n{{ JSON.stringify($json.Inhalt) }}\n    </script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const dataElement = document.getElementById('vacancy-data');\n            const vacancyData = JSON.parse(dataElement.textContent);\n            \n            function renderDuration() {\n                const container = document.getElementById('besetzungsdauer-content');\n                if (!container) return;\n                \n                const data = vacancyData.besetzungsdauer;\n                \n                let html = '<div class=\"metric-grid\">';\n                \n                if (data.tage_min) {\n                    html += `\n                        <div class=\"metric-card\">\n                            <div class=\"metric-value\">${data.tage_min}</div>\n                            <div class=\"metric-label\">Min. Tage</div>\n                        </div>\n                    `;\n                }\n                \n                if (data.tage_avg) {\n                    html += `\n                        <div class=\"metric-card\">\n                            <div class=\"metric-value\">${data.tage_avg}</div>\n                            <div class=\"metric-label\">Ø Tage</div>\n                        </div>\n                    `;\n                }\n                \n                if (data.tage_max) {\n                    html += `\n                        <div class=\"metric-card\">\n                            <div class=\"metric-value\">${data.tage_max}</div>\n                            <div class=\"metric-label\">Max. Tage</div>\n                        </div>\n                    `;\n                }\n                \n                html += '</div>';\n                \n                if (data.begruendung) {\n                    html += `<div class=\"text-content\">${data.begruendung}</div>`;\n                }\n                \n                container.innerHTML = html || '<div class=\"empty-state\">Keine Daten verfügbar</div>';\n            }\n            \n            function renderCostOfVacancy() {\n                const container = document.getElementById('cost-of-vacancy-content');\n                if (!container) return;\n                \n                const data = vacancyData.cost_of_vacancy;\n                \n                let html = '';\n                \n                if (data.betrag_eur) {\n                    html += `<div class=\"cost-amount\">${data.betrag_eur}</div>`;\n                }\n                \n                if (data.formel) {\n                    html += `<div class=\"formula-display\">${data.formel}</div>`;\n                }\n                \n                if (data.annahmen) {\n                    const annahmen = data.annahmen;\n                    if (annahmen.jahresgehalt_eur || annahmen.arbeitstage_pro_jahr || annahmen.stellenwert_faktor || annahmen.time_to_fill_tage) {\n                        html += '<div class=\"assumption-grid\">';\n                        \n                        if (annahmen.jahresgehalt_eur) {\n                            html += `\n                                <div class=\"assumption-item\">\n                                    <div class=\"assumption-label\">Jahresgehalt</div>\n                                    <div class=\"assumption-value\">${annahmen.jahresgehalt_eur}</div>\n                                </div>\n                            `;\n                        }\n                        \n                        if (annahmen.arbeitstage_pro_jahr) {\n                            html += `\n                                <div class=\"assumption-item\">\n                                    <div class=\"assumption-label\">Arbeitstage/Jahr</div>\n                                    <div class=\"assumption-value\">${annahmen.arbeitstage_pro_jahr}</div>\n                                </div>\n                            `;\n                        }\n                        \n                        if (annahmen.stellenwert_faktor) {\n                            html += `\n                                <div class=\"assumption-item\">\n                                    <div class=\"assumption-label\">Stellenwert-Faktor</div>\n                                    <div class=\"assumption-value\">${annahmen.stellenwert_faktor}</div>\n                                </div>\n                            `;\n                        }\n                        \n                        if (annahmen.time_to_fill_tage) {\n                            html += `\n                                <div class=\"assumption-item\">\n                                    <div class=\"assumption-label\">Time to Fill (Tage)</div>\n                                    <div class=\"assumption-value\">${annahmen.time_to_fill_tage}</div>\n                                </div>\n                            `;\n                        }\n                        \n                        html += '</div>';\n                    }\n                }\n                \n                container.innerHTML = html || '<div class=\"empty-state\">Keine Daten verfügbar</div>';\n            }\n            \n            function renderRisk() {\n                const container = document.getElementById('risiko-vakanz-content');\n                if (!container) return;\n                \n                const data = vacancyData.risiko_vakanz;\n                \n                let html = '';\n                \n                if (data.einschaetzung) {\n                    html += `<div class=\"text-content\" style=\"font-size: 1.5rem; font-weight: 600; text-align: center; margin: 20px 0;\">${data.einschaetzung}</div>`;\n                }\n                \n                if (data.beschreibung) {\n                    html += `<div class=\"text-content\">${data.beschreibung}</div>`;\n                }\n                \n                container.innerHTML = html || '<div class=\"empty-state\">Keine Daten verfügbar</div>';\n            }\n            \n            function renderBudget() {\n                const container = document.getElementById('empfohlenes-budget-content');\n                if (!container) return;\n                \n                const data = vacancyData.empfohlenes_budget;\n                \n                let html = '';\n                \n                if (data.budget_min_eur && data.budget_max_eur) {\n                    html += `\n                        <div class=\"budget-range\">\n                            <div class=\"budget-min\">\n                                <div class=\"budget-value\">${data.budget_min_eur}</div>\n                                <div class=\"budget-label\">Minimum</div>\n                            </div>\n                            <div class=\"budget-separator\">—</div>\n                            <div class=\"budget-max\">\n                                <div class=\"budget-value\">${data.budget_max_eur}</div>\n                                <div class=\"budget-label\">Maximum</div>\n                            </div>\n                        </div>\n                    `;\n                } else if (data.budget_min_eur) {\n                    html += `<div class=\"cost-amount\" style=\"color: #8e2de2;\">${data.budget_min_eur}</div>`;\n                } else if (data.budget_max_eur) {\n                    html += `<div class=\"cost-amount\" style=\"color: #8e2de2;\">${data.budget_max_eur}</div>`;\n                }\n                \n                if (data.beschreibung) {\n                    html += `<div class=\"text-content\">${data.beschreibung}</div>`;\n                }\n                \n                container.innerHTML = html || '<div class=\"empty-state\">Keine Daten verfügbar</div>';\n            }\n            \n            renderDuration();\n            renderCostOfVacancy();\n            renderRisk();\n            renderBudget();\n        });\n    </script>\n</body>\n</html>\n",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1088
      ],
      "id": "faae243c-d32a-4328-bc5c-6d5234e006df",
      "name": "Website Data 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Marktpositionierungsanalyse</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #0f9b0f 0%, #0a5c0a 50%, #033003 100%);\n            min-height: 100vh;\n            padding: 60px 40px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 3rem;\n            font-weight: 800;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n            background: linear-gradient(90deg, #7eff7e, #32cd32);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .subtitle {\n            font-size: 1.25rem;\n            color: rgba(255, 255, 255, 0.9);\n            font-weight: 400;\n            letter-spacing: 0.5px;\n        }\n\n        .main-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 40px;\n            margin-bottom: 40px;\n        }\n\n        .comparison-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 30px;\n            margin: 40px 0;\n        }\n\n        .card {\n            background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));\n            border-radius: 20px;\n            padding: 35px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            backdrop-filter: blur(10px);\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);\n            height: 100%;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .card::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 6px;\n            height: 100%;\n        }\n\n        .card-positions::before {\n            background: linear-gradient(180deg, #00b09b 0%, #96c93d 100%);\n        }\n\n        .card-duration::before {\n            background: linear-gradient(180deg, #7b4397 0%, #dc2430 100%);\n        }\n\n        .card-salary::before {\n            background: linear-gradient(180deg, #ff9a00 0%, #ff5e00 100%);\n        }\n\n        .card-models::before {\n            background: linear-gradient(180deg, #00c6ff 0%, #0072ff 100%);\n        }\n\n        .card-benefits::before {\n            background: linear-gradient(180deg, #ff416c 0%, #ff4b2b 100%);\n        }\n\n        .card-overall::before {\n            background: linear-gradient(180deg, #8e2de2 0%, #4a00e0 100%);\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 25px;\n        }\n\n        .icon {\n            font-size: 28px;\n            margin-right: 20px;\n            width: 60px;\n            height: 60px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .icon-positions {\n            background: linear-gradient(145deg, rgba(0, 176, 155, 0.3), rgba(150, 201, 61, 0.3));\n        }\n\n        .icon-duration {\n            background: linear-gradient(145deg, rgba(123, 67, 151, 0.3), rgba(220, 36, 48, 0.3));\n        }\n\n        .icon-salary {\n            background: linear-gradient(145deg, rgba(255, 154, 0, 0.3), rgba(255, 94, 0, 0.3));\n        }\n\n        .icon-models {\n            background: linear-gradient(145deg, rgba(0, 198, 255, 0.3), rgba(0, 114, 255, 0.3));\n        }\n\n        .icon-benefits {\n            background: linear-gradient(145deg, rgba(255, 65, 108, 0.3), rgba(255, 75, 43, 0.3));\n        }\n\n        .icon-overall {\n            background: linear-gradient(145deg, rgba(142, 45, 226, 0.3), rgba(74, 0, 224, 0.3));\n        }\n\n        h2 {\n            font-size: 1.75rem;\n            font-weight: 700;\n            color: #ffffff;\n            letter-spacing: -0.3px;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        .metric-display {\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            padding: 30px 20px;\n            text-align: center;\n        }\n\n        .metric-value {\n            font-size: 3.5rem;\n            font-weight: 800;\n            color: #7eff7e;\n            margin-bottom: 10px;\n            text-shadow: 0 0 20px rgba(126, 255, 126, 0.3);\n        }\n\n        .metric-label {\n            font-size: 1.25rem;\n            color: rgba(255, 255, 255, 0.8);\n            text-transform: uppercase;\n            letter-spacing: 2px;\n        }\n\n        ul, ol {\n            padding-left: 20px;\n            margin-bottom: 20px;\n        }\n\n        li {\n            margin-bottom: 16px;\n            color: rgba(255, 255, 255, 0.9);\n            font-size: 1.125rem;\n            line-height: 1.7;\n        }\n\n        .comparison-card {\n            height: 100%;\n            padding: 30px;\n        }\n\n        .comparison-card h3 {\n            font-size: 1.375rem;\n            font-weight: 600;\n            color: #ffffff;\n            margin-bottom: 20px;\n            letter-spacing: -0.2px;\n        }\n\n        .overall-section {\n            margin-top: 40px;\n        }\n\n        .overall-content {\n            color: rgba(255, 255, 255, 0.9);\n            font-size: 1.25rem;\n            line-height: 1.8;\n            padding: 25px 20px;\n            text-align: center;\n            font-style: italic;\n        }\n\n        .empty-state {\n            color: rgba(255, 255, 255, 0.5);\n            font-style: italic;\n            font-size: 1.125rem;\n            padding: 20px 0;\n            text-align: center;\n        }\n\n        .data-item {\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 10px;\n            padding: 15px;\n            margin-bottom: 10px;\n            font-size: 1.125rem;\n            color: rgba(255, 255, 255, 0.9);\n        }\n\n        .section-title {\n            font-size: 0.875rem;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            color: #7eff7e;\n            margin-bottom: 20px;\n            font-weight: 600;\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Marktpositionierungsanalyse</h1>\n            <div class=\"subtitle\">Vergleichsanalyse ähnlicher Stellenangebote im Marktumfeld</div>\n        </header>\n\n        <main>\n            <div class=\"main-grid\">\n                <div class=\"card card-positions\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-positions\">\n                            <span class=\"material-icons\">business</span>\n                        </div>\n                        <h2>Ähnliche Stellen im Umkreis</h2>\n                    </div>\n                    <div id=\"aehnliche-stellen\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-duration\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-duration\">\n                            <span class=\"material-icons\">timeline</span>\n                        </div>\n                        <h2>Durchschnittliche Schaltungsdauer</h2>\n                    </div>\n                    <div id=\"schaltungsdauer\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section-title\">Vergleich Konkurrenzbedingungen</div>\n            \n            <div class=\"comparison-grid\">\n                <div class=\"card card-salary comparison-card\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-salary\">\n                            <span class=\"material-icons\">payments</span>\n                        </div>\n                        <h3>Gehaltsangaben</h3>\n                    </div>\n                    <div id=\"gehaltsangaben\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-models comparison-card\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-models\">\n                            <span class=\"material-icons\">work</span>\n                        </div>\n                        <h3>Arbeitsmodelle</h3>\n                    </div>\n                    <div id=\"arbeitsmodelle\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-benefits comparison-card\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-benefits\">\n                            <span class=\"material-icons\">card_giftcard</span>\n                        </div>\n                        <h3>Benefits</h3>\n                    </div>\n                    <div id=\"benefits\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"overall-section\">\n                <div class=\"card card-overall\">\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-overall\">\n                            <span class=\"material-icons\">assessment</span>\n                        </div>\n                        <h2>Gesamtbewertung Positionierung</h2>\n                    </div>\n                    <div id=\"gesamtbewertung\" class=\"overall-content\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"market-data\" type=\"application/json\">\n{{ JSON.stringify($json.Inhalt) }}\n    </script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const dataElement = document.getElementById('market-data');\n            const marketData = JSON.parse(dataElement.textContent);\n            const data = marketData.marktpositionierung;\n            \n            function renderList(containerId, items, isNumberList = false) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Daten verfügbar</div>';\n                    return;\n                }\n                \n                if (isNumberList && items.every(item => !isNaN(parseFloat(item)))) {\n                    const sum = items.reduce((total, item) => total + parseFloat(item), 0);\n                    const avg = sum / items.length;\n                    \n                    container.innerHTML = `\n                        <div class=\"metric-display\">\n                            <div class=\"metric-value\">${avg.toFixed(1)}</div>\n                            <div class=\"metric-label\">Ø Tage</div>\n                        </div>\n                        <div style=\"margin-top: 20px;\">\n                            <div class=\"section-title\">Einzelwerte</div>\n                            ${items.map(item => `<div class=\"data-item\">${item} Tage</div>`).join('')}\n                        </div>\n                    `;\n                } else {\n                    const list = document.createElement('ul');\n                    items.forEach(item => {\n                        const li = document.createElement('li');\n                        li.textContent = item;\n                        list.appendChild(li);\n                    });\n                    container.innerHTML = '';\n                    container.appendChild(list);\n                }\n            }\n            \n            function renderCountList(containerId, items) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Daten verfügbar</div>';\n                    return;\n                }\n                \n                container.innerHTML = `\n                    <div class=\"metric-display\">\n                        <div class=\"metric-value\">${items.length}</div>\n                        <div class=\"metric-label\">Stellen gefunden</div>\n                    </div>\n                    <div style=\"margin-top: 20px;\">\n                        <div class=\"section-title\">Details</div>\n                        ${items.map(item => `<div class=\"data-item\">${item}</div>`).join('')}\n                    </div>\n                `;\n            }\n            \n            function renderOverall() {\n                const container = document.getElementById('gesamtbewertung');\n                if (!container) return;\n                \n                if (!data.gesamtbewertung_positionierung || data.gesamtbewertung_positionierung.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Gesamtbewertung verfügbar</div>';\n                    return;\n                }\n                \n                container.innerHTML = data.gesamtbewertung_positionierung\n                    .map(item => `<p>${item}</p>`)\n                    .join('');\n            }\n            \n            renderCountList('aehnliche-stellen', data.anzahl_aehnlicher_stellen_im_umkreis);\n            renderList('schaltungsdauer', data.durchschnittliche_schaltungsdauer, true);\n            renderList('gehaltsangaben', data.vergleich_konkurrenzbedingungen?.gehaltsangaben || []);\n            renderList('arbeitsmodelle', data.vergleich_konkurrenzbedingungen?.arbeitsmodelle || []);\n            renderList('benefits', data.vergleich_konkurrenzbedingungen?.benefits || []);\n            renderOverall();\n        });\n    </script>\n</body>\n</html>\n\n",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1312
      ],
      "id": "53ebbb3e-b923-47c6-be31-eb2d7eb91aba",
      "name": "Website Data 6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174c6a34-1178-4cce-9774-55d797c2b54b",
              "name": "websie",
              "value": "=<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Maßnahmen & Budgetplanung</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/icon?family=Material+Icons\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            line-height: 1.6;\n            color: #ffffff;\n            background: linear-gradient(135deg, #4A001F 0%, #001733 50%, #000A1A 100%);            min-height: 100vh;\n            padding: 60px 40px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        header {\n            text-align: center;\n            margin-bottom: 60px;\n            padding-bottom: 30px;\n            border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n        }\n\n        h1 {\n            font-size: 3rem;\n            font-weight: 800;\n            color: #ffffff;\n            margin-bottom: 12px;\n            letter-spacing: -0.5px;\n            background: linear-gradient(90deg, #FFD700, #FFA500);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n        }\n\n        .subtitle {\n            font-size: 1.25rem;\n            color: rgba(255, 255, 255, 0.9);\n            font-weight: 400;\n            letter-spacing: 0.5px;\n        }\n\n        .measures-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 30px;\n            margin-bottom: 50px;\n        }\n\n        .budget-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 30px;\n        }\n\n        .card {\n            background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));\n            border-radius: 20px;\n            padding: 35px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            backdrop-filter: blur(10px);\n            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);\n            height: 100%;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .card::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 6px;\n            height: 100%;\n        }\n\n        .card-short::before {\n            background: linear-gradient(180deg, #FF416C 0%, #FF4B2B 100%);\n        }\n\n        .card-medium::before {\n            background: linear-gradient(180deg, #00B4DB 0%, #0083B0 100%);\n        }\n\n        .card-long::before {\n            background: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);\n        }\n\n        .card-low::before {\n            background: linear-gradient(180deg, #FF416C 0%, #FF4B2B 100%);\n        }\n\n        .card-recommended::before {\n            background: linear-gradient(180deg, #00B09B 0%, #96C93D 100%);\n        }\n\n        .card-high::before {\n            background: linear-gradient(180deg, #8E2DE2 0%, #4A00E0 100%);\n        }\n\n        .card-header {\n            display: flex;\n            align-items: center;\n            margin-bottom: 25px;\n        }\n\n        .icon {\n            font-size: 28px;\n            margin-right: 20px;\n            width: 60px;\n            height: 60px;\n            border-radius: 12px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .icon-short {\n            background: linear-gradient(145deg, rgba(255, 65, 108, 0.3), rgba(255, 75, 43, 0.3));\n        }\n\n        .icon-medium {\n            background: linear-gradient(145deg, rgba(0, 180, 219, 0.3), rgba(0, 131, 176, 0.3));\n        }\n\n        .icon-long {\n            background: linear-gradient(145deg, rgba(17, 153, 142, 0.3), rgba(56, 239, 125, 0.3));\n        }\n\n        .icon-low {\n            background: linear-gradient(145deg, rgba(255, 65, 108, 0.3), rgba(255, 75, 43, 0.3));\n        }\n\n        .icon-recommended {\n            background: linear-gradient(145deg, rgba(0, 176, 155, 0.3), rgba(150, 201, 61, 0.3));\n        }\n\n        .icon-high {\n            background: linear-gradient(145deg, rgba(142, 45, 226, 0.3), rgba(74, 0, 224, 0.3));\n        }\n\n        h2 {\n            font-size: 1.75rem;\n            font-weight: 700;\n            color: #ffffff;\n            letter-spacing: -0.3px;\n        }\n\n        .content-section {\n            margin-top: 10px;\n        }\n\n        ul {\n            padding-left: 20px;\n        }\n\n        li {\n            margin-bottom: 16px;\n            color: rgba(255, 255, 255, 0.9);\n            font-size: 1.125rem;\n            line-height: 1.7;\n            padding-left: 10px;\n        }\n\n        .timeline-badge {\n            display: inline-block;\n            padding: 4px 12px;\n            border-radius: 20px;\n            font-size: 0.75rem;\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 15px;\n        }\n\n        .badge-short {\n            background: rgba(255, 65, 108, 0.2);\n            color: #FF416C;\n        }\n\n        .badge-medium {\n            background: rgba(0, 180, 219, 0.2);\n            color: #00B4DB;\n        }\n\n        .badge-long {\n            background: rgba(17, 153, 142, 0.2);\n            color: #11998e;\n        }\n\n        .badge-low {\n            background: rgba(255, 65, 108, 0.2);\n            color: #FF416C;\n        }\n\n        .badge-recommended {\n            background: rgba(0, 176, 155, 0.2);\n            color: #00B09B;\n        }\n\n        .badge-high {\n            background: rgba(142, 45, 226, 0.2);\n            color: #8E2DE2;\n        }\n\n        .budget-amount {\n            font-size: 2.5rem;\n            font-weight: 800;\n            text-align: center;\n            margin: 20px 0;\n        }\n\n        .amount-low {\n            color: #FF416C;\n            text-shadow: 0 0 20px rgba(255, 65, 108, 0.3);\n        }\n\n        .amount-recommended {\n            color: #00B09B;\n            text-shadow: 0 0 20px rgba(0, 176, 155, 0.3);\n        }\n\n        .amount-high {\n            color: #8E2DE2;\n            text-shadow: 0 0 20px rgba(142, 45, 226, 0.3);\n        }\n\n        .empty-state {\n            color: rgba(255, 255, 255, 0.5);\n            font-style: italic;\n            font-size: 1.125rem;\n            padding: 20px 0;\n            text-align: center;\n        }\n\n        .section-title {\n            font-size: 0.875rem;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            color: #FFD700;\n            margin: 50px 0 20px 0;\n            font-weight: 600;\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <h1>Maßnahmen & Budgetplanung</h1>\n            <div class=\"subtitle\">Zeitliche Umsetzung und finanzielle Planung</div>\n        </header>\n\n        <main>\n            <div class=\"section-title\">Zeitliche Maßnahmenplanung</div>\n            <div class=\"measures-grid\">\n                <div class=\"card card-short\">\n                    <div class=\"timeline-badge badge-short\">Innerhalb 1-3 Monaten</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-short\">\n                            <span class=\"material-icons\">flash_on</span>\n                        </div>\n                        <h2>Kurzfristig</h2>\n                    </div>\n                    <div id=\"kurzfristig\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-medium\">\n                    <div class=\"timeline-badge badge-medium\">Innerhalb 3-12 Monaten</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-medium\">\n                            <span class=\"material-icons\">trending_up</span>\n                        </div>\n                        <h2>Mittelfristig</h2>\n                    </div>\n                    <div id=\"mittelfristig\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-long\">\n                    <div class=\"timeline-badge badge-long\">Ab 12+ Monaten</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-long\">\n                            <span class=\"material-icons\">timeline</span>\n                        </div>\n                        <h2>Langfristig</h2>\n                    </div>\n                    <div id=\"langfristig\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section-title\">Budget Szenarien</div>\n            <div class=\"budget-grid\">\n                <div class=\"card card-low\">\n                    <div class=\"timeline-badge badge-low\">Minimalvariante</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-low\">\n                            <span class=\"material-icons\">savings</span>\n                        </div>\n                        <h2>Low Budget</h2>\n                    </div>\n                    <div id=\"budget-low\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-recommended\">\n                    <div class=\"timeline-badge badge-recommended\">Empfohlen</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-recommended\">\n                            <span class=\"material-icons\">recommend</span>\n                        </div>\n                        <h2>Recommended</h2>\n                    </div>\n                    <div id=\"budget-recommended\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n\n                <div class=\"card card-high\">\n                    <div class=\"timeline-badge badge-high\">Premiumvariante</div>\n                    <div class=\"card-header\">\n                        <div class=\"icon icon-high\">\n                            <span class=\"material-icons\">workspace_premium</span>\n                        </div>\n                        <h2>High Budget</h2>\n                    </div>\n                    <div id=\"budget-high\" class=\"content-section\">\n                        <!-- Content will be populated by JavaScript -->\n                    </div>\n                </div>\n            </div>\n        </main>\n    </div>\n\n    <script id=\"measures-data\" type=\"application/json\">\n{{ JSON.stringify($json.Inhalt) }}\n    </script>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const dataElement = document.getElementById('measures-data');\n            const measuresData = JSON.parse(dataElement.textContent);\n            \n            function renderList(containerId, items, isBudget = false) {\n                const container = document.getElementById(containerId);\n                if (!container) return;\n                \n                if (!items || items.length === 0) {\n                    container.innerHTML = '<div class=\"empty-state\">Keine Einträge vorhanden</div>';\n                    return;\n                }\n                \n                if (isBudget && items.length === 1 && !isNaN(parseFloat(items[0]))) {\n                    const amount = items[0];\n                    const amountClass = containerId.includes('low') ? 'amount-low' : \n                                      containerId.includes('recommended') ? 'amount-recommended' : 'amount-high';\n                    \n                    container.innerHTML = `\n                        <div class=\"budget-amount ${amountClass}\">${amount}</div>\n                    `;\n                } else if (isBudget && items.length === 1) {\n                    container.innerHTML = `\n                        <div class=\"budget-amount\">${items[0]}</div>\n                    `;\n                } else {\n                    const list = document.createElement('ul');\n                    items.forEach(item => {\n                        const li = document.createElement('li');\n                        li.textContent = item;\n                        list.appendChild(li);\n                    });\n                    container.innerHTML = '';\n                    container.appendChild(list);\n                }\n            }\n            \n            renderList('kurzfristig', measuresData.massnahmen?.kurzfristig || []);\n            renderList('mittelfristig', measuresData.massnahmen?.mittelfristig || []);\n            renderList('langfristig', measuresData.massnahmen?.langfristig || []);\n            renderList('budget-low', measuresData.budget?.low || [], true);\n            renderList('budget-recommended', measuresData.budget?.recommended || [], true);\n            renderList('budget-high', measuresData.budget?.high || [], true);\n        });\n    </script>\n</body>\n</html>\n\n",
              "type": "string"
            },
            {
              "id": "65f58646-441a-4e5e-a10c-8e6350ea1658",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        1552
      ],
      "id": "21d162b0-c0cd-45a7-bd13-e5c4c23245da",
      "name": "Website Data 7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a7cf023-47bc-448a-876b-467f796c85a9",
              "name": "websie",
              "value": "={{ $json.websie }}",
              "type": "string"
            },
            {
              "id": "4f6d04c3-bfa6-4185-80cd-251fd3955be4",
              "name": "FileName",
              "value": "={{ $json.FileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        864
      ],
      "id": "708c7eeb-5ce8-4b5b-9a15-e9f16996ec4e",
      "name": "FILE DONE"
    }
  ],
  "pinData": {},
  "connections": {
    "6-Marktposition Stelle Konkurrenz1": {
      "main": [
        [
          {
            "node": "Make Json6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-Cost For Vacancy Berechnung": {
      "main": [
        [
          {
            "node": "Make Json5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7-Massnahmen Kurz Mittel Lang": {
      "main": [
        [
          {
            "node": "Make Json7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1-Stellenanzeige Analyse": {
      "main": [
        [
          {
            "node": "Make Json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2-Website Aussenwirkung": {
      "main": [
        [
          {
            "node": "Make Json2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-Jobboersen Verbreitung": {
      "main": [
        [
          {
            "node": "Make Json3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4-Bewertungen Analyse": {
      "main": [
        [
          {
            "node": "Make Json4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json1": {
      "main": [
        [
          {
            "node": "Website Data 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json2": {
      "main": [
        [
          {
            "node": "Website Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json3": {
      "main": [
        [
          {
            "node": "Website Data 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json4": {
      "main": [
        [
          {
            "node": "Website Data 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json5": {
      "main": [
        [
          {
            "node": "Website Data 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json6": {
      "main": [
        [
          {
            "node": "Website Data 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Json7": {
      "main": [
        [
          {
            "node": "Website Data 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming Raw Data": {
      "main": [
        [
          {
            "node": "1-Stellenanzeige Analyse",
            "type": "main",
            "index": 0
          },
          {
            "node": "2-Website Aussenwirkung",
            "type": "main",
            "index": 0
          },
          {
            "node": "3-Jobboersen Verbreitung",
            "type": "main",
            "index": 0
          },
          {
            "node": "4-Bewertungen Analyse",
            "type": "main",
            "index": 0
          },
          {
            "node": "5-Cost For Vacancy Berechnung",
            "type": "main",
            "index": 0
          },
          {
            "node": "6-Marktposition Stelle Konkurrenz1",
            "type": "main",
            "index": 0
          },
          {
            "node": "7-Massnahmen Kurz Mittel Lang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make HTML FILE": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        []
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Incoming Raw Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 1": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 2": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 3": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 4": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 5": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 6": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website Data 7": {
      "main": [
        [
          {
            "node": "FILE DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILE DONE": {
      "main": [
        [
          {
            "node": "Make HTML FILE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a04df56-8f3b-4e73-b3fb-769074df335f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e5c6bc76a45d7be7be72a20845d2c5d152c35fcbf7d95f99802e808c99172e9"
  },
  "id": "C1yvOyCs8uQjNF0h",
  "tags": []
}